body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fcd5e5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.btn {
	display: inline-block;
	padding: 10px 16px;
	background: #f7a8c9;
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
	font-size: 14px;
	transition: 0.2s;
	border: none;
	margin-bottom: 10px;
	width: 150px;
}
.hidden-input {
	display: none;
}

.custom-upload {
	display: inline-block;
	padding: 10px 16px;
	background: #f7a8c9;
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
	font-size: 14px;
	transition: 0.2s;
	margin-bottom: 10px;
}

.vybor {
	margin-right: 10px;
}

.heart {
	z-index: -1;
	position: absolute;
	width: 60px;
	height: 60px;
	right: 10px;
}

.heart2 {
	z-index: -1;
	position: absolute;
	width: 70px;
	height: 70px;
	left: 170px;
	top: 80px;
}
.heart3 {
	z-index: -1;
	position: absolute;
	width: 50px;
	height: 50px;
	right: 70px;
	top: 240px;
}
